.App {
   user-select: none;

   & > .background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1;
      background-repeat: no-repeat !important;
      background-size: cover !important;
   }
}

.scrollToTopBtn {
   position: fixed;
   right: 5vw;
   bottom: 5vh;
   z-index: 1;

   width: 45px;
   height: 45px;
   font-size: 1.3em;
   background: rgba(255, 255, 255, 0.1);
   color: #fff;
   box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);

   animation: fade2 0.5s ease-in-out;

   & > svg {
      opacity: 0.6;
      transition: opacity 0.2s linear;
   }

   &:hover {
      &:after {
         width: 100%;
      }
      & > svg {
         opacity: 1;
      }
   }

   &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);

      width: 0;
      height: 2px;
      background: #333;
      transition: width 0.3s ease-in-out;
   }
}

.fade {
   animation: fade 1s ease-in-out;
}

@keyframes fade {
   from {
      opacity: 0;
      transform: scale(0.3);
   }
   to {
      opacity: 1;
      transform: scale(1);
   }
}

@keyframes fade2 {
   from {
      opacity: 0.3;
   }
   to {
      opacity: 1;
   }
}
