* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   color: #fff;
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

a {
   text-decoration: none;
   cursor: pointer;
}

button {
   cursor: pointer;
   outline: none;
   border: none;
}
